<ul class="awards-list">
	<li>
		<i class="fa-solid fa-handshake" aria-hidden="true"></i>
		<strong>Synergist Award</strong>, FCC C2H Prototyping & Production, The MITRE Corporation, Nov 2024
	</li>
	<li>
		<i class="fa-solid fa-bolt" aria-hidden="true"></i>
		<strong>Spark Award</strong>, The MITRE Corporation, Sep 2024
	</li>
	<li>
		<i class="fa-solid fa-hands-clapping" aria-hidden="true"></i>
		<strong>Applause Award</strong>, The MITRE Corporation, Apr 2024
	</li>
	<li>
		<i class="fa-solid fa-hands-clapping" aria-hidden="true"></i>
		<strong>Applause Award</strong>, The MITRE Corporation, Dec 2023
	</li>
	<li>
		<i class="fa-solid fa-hands-clapping" aria-hidden="true"></i>
		<strong>Applause Award</strong>, The MITRE Corporation, Aug 2023
	</li>
	<li>
		<i class="fa-solid fa-flask" aria-hidden="true"></i>
		<strong>Catalyst Award</strong>, Modernizing Target Level of Safety, The MITRE Corporation, Oct 2021
	</li>
	<li>
		<i class="fa-solid fa-award" aria-hidden="true"></i>
		<strong>Best Engineering Poster Award</strong>, The Korean-American Scientists and Engineers Association, Jan
		2017
	</li>
	<li>
		<i class="fa-solid fa-plane" aria-hidden="true"></i>
		<strong>ACM International Joint Conference on Pervasive and Ubiquitous Computing Travel Grant</strong>, Seattle,
		WA, 2014
	</li>
	<li>
		<i class="fa-solid fa-graduation-cap" aria-hidden="true"></i>
		<strong>Graduate Student Tuition Fellowship</strong>, College of Natural Sciences and Mathematics, University of
		Houston, 2011–2015
	</li>
	<li>
		<i class="fa-solid fa-medal" aria-hidden="true"></i>
		<strong>2<sup>nd</sup> Outstanding Undergraduate Award</strong>, SEJONG University, Jan 2005
	</li>
	<li>
		<i class="fa-solid fa-medal" aria-hidden="true"></i>
		<strong>1<sup>st</sup> Outstanding Undergraduate Award</strong>, SEJONG University, Jan 2004
	</li>
</ul>
<br />
<h3>Certifications</h3>
<ul class="certifications-list">
	<li>
		<i class="fa-solid fa-cube" aria-hidden="true"></i>
		<strong>Foundry and AIP Builder Foundations - Palantir</strong>, Palantir, 2025
	</li>
	<li>
		<i class="fa-solid fa-cube" aria-hidden="true"></i>
		<strong>Introduction to Foundry and AIP for Enterprise Organizations - Palantir</strong>, Palantir, 2025
	</li>
	<li>
		<i class="fa-solid fa-circle-nodes" aria-hidden="true"></i>
		<strong>Certified Kubernetes Administrator (CKA)</strong>, The Linux Foundation, 2023
	</li>
	<li>
		<i class="fa-brands fa-aws" aria-hidden="true"></i>
		<strong>AWS Certified Solutions Architect - Associate</strong>, Amazon Web Services, 2022
	</li>
	<li>
		<i class="fa-brands fa-google" aria-hidden="true"></i>
		<strong>Google Professional Data Engineer</strong>, Google Cloud, 2022
	</li>
	<li>
		<i class="fa-brands fa-microsoft" aria-hidden="true"></i>
		<strong>Microsoft Certified: Azure Solutions Architect Expert</strong>, Microsoft, 2021
	</li>
</ul>