<p class="lead mb-5">
  Apart from being a software engineer, I enjoy most of my time being outdoors and mountain hiking. I am an avid tennis player and a singlespeed cyclist. Also, I spend a large amount of my free time
  exploring the latest technology advancements in the front-end, back-end development, and data science world.
</p>

<p></p>

<h3 class="mb-0">Conferences and Workshops</h3>
<figure>
  <img src="../img/interests/gogle-glass-apple-vision-pro.png" alt="Google Glass and Apple Vision Pro in 2014 and 2024" />
  <figcaption>Google Glass in research (2014) and Apple Vision Pro in demo (2024)</figcaption>
</figure>
<figure>
  <img src="../img/interests/conference-silicon-valley4.jpg" alt="Silicon Valley in Korean in 2023" />
  <figcaption>Silicon Valley in Korean 10주년 (실밸한) in 2023</figcaption>
</figure>
<figure>
  <img src="../img/interests/conference-silicon-valley2.jpg" alt="Silicon Valley in Korean in 2023" />
  <figcaption>Silicon Valley in Korean 10주년 (실밸한) in 2023</figcaption>
</figure>

<figure>
  <img src="../img/interests/conference-silicon-valley1.jpg" alt="Silicon Valley in Korean in 2023" />
  <figcaption>Silicon Valley in Korean 10주년 (실밸한) in 2023</figcaption>
</figure>
<figure>
  <img src="../img/interests/conference-silicon-valley.jpg" alt="Silicon Valley in Korean in 2023" />
  <figcaption>Silicon Valley in Korean 10주년 (실밸한) in 2023</figcaption>
</figure>

<figure>
  <img src="../img/interests/sejong_univ.jpg" alt="Workshop at Sejong University in 2023" />
  <figcaption>Workshop at Sejong University in 2023</figcaption>
</figure>
<figure>
  <img src="../img/interests/yonsei.jpeg" alt="감사패, 연세대학교 AI Showcase 연사, 권경안 박사" />
  <figcaption>감사패, 연세대학교 AI Showcase 연사 (2021)</figcaption>
</figure>

<figure>
  <img src="../img/interests/mitre_cassd.jpg" alt="Karl Kwon at MITRE CASSD" />
  <figcaption>at Work</figcaption>
</figure>

<figure>
  <img src="../img/interests/dr.karl.kwon-craig.federighi.jpg" alt="Dr. Karl Kwon with Craig Federighi" />
  <figcaption>with Craig Federighi</figcaption>
</figure>
<figure>
  <img src="../img/interests/conference-dr.karl.kwon-dr.dennis.hong.jpg" alt="Dr. Karl Kwon with Dr. Dennis Hong" />
  <figcaption>with Dr. Dennis Hong</figcaption>
</figure>
<figure>
  <img src="../img/interests/conference-dr.karl.kwon-dr.sung.kim.jpg" alt="Dr. Karl Kwon with Dr. Sung Kim" />
  <figcaption>with Dr. Sung Kim</figcaption>
</figure>
<figure>
  <img src="../img/interests/dr.karl.kwon-dr.ioannis.pavlidis.jpg" alt="Dr. Karl Kwon with Dr. Ioannis Pavlidis" />
  <figcaption>with Dr. Ioannis Pavlidis</figcaption>
</figure>
<figure>
  <img src="../img/interests/dr.karl.kwon-dr.alex.lee.jpg" alt="Dr. Karl Kwon with Dr. Alex Lee" />
  <figcaption>with Dr. Alex Lee</figcaption>
</figure>
<figure>
  <img src="../img/interests/conference-dr.karl.kwon-dr.jeho.park.jpg" alt="Dr. Karl Kwon with Dr. Jeho Park" />
  <figcaption>with Dr. Jeho Park</figcaption>
</figure>
<figure>
  <img src="../img/interests/talk-unlv-las-vegas.jpg" alt="Dr. Karl Kwon" />
  <figcaption>UNLV, Las Vegas</figcaption>
</figure>
<figure>
  <img src="../img/interests/conference-ieee-vis-paris.jpg" alt="Dr. Karl Kwon" />
  <figcaption>IEEE VIS, Paris</figcaption>
</figure>
<figure>
  <img src="../img/interests/conference-ubicomp-seattle.jpg" alt="Dr. Karl Kwon" />
  <figcaption>Ubicomp, Seattle</figcaption>
</figure>
<figure>
  <img src="../img/interests/conference-SciTS-Phoenix-Arizona.jpg" alt="Dr. Karl Kwon" />
  <figcaption>SciTS, Phoenix</figcaption>
</figure>
<figure>
  <img src="../img/interests/conference-nsm-houston.jpg" alt="Dr. Karl Kwon" />
  <figcaption>NSM, Houston</figcaption>
</figure>
<figure>
  <img src="../img/interests/conference-TIMES-houston.jpg" alt="Dr. Karl Kwon" />
  <figcaption>TIMES, Houston</figcaption>
</figure>
<figure>
  <img src="../img/interests/collection-name-tags-during-phd-years.jpg" alt="Dr. Karl Kwon" />
  <figcaption>Name tags collection.</figcaption>
</figure>

<h3 class="mb-0">Backpacking and Hiking</h3>
<figure>
  <img src="../img/interests/backpacking-minnewaska-ny.jpg" alt="Dr. Karl Kwon" />
  <figcaption>Minnewaska State Park, NY</figcaption>
</figure>
<figure>
  <img src="../img/interests/backpacking-Mount-Monadnock-Summit.jpg" alt="Dr. Karl Kwon" />
  <figcaption>Mount Monadnock, NH</figcaption>
</figure>
<figure>
  <img src="../img/interests/backpacking-Mount-Washington-Summit.jpg" alt="Dr. Karl Kwon" />
  <figcaption>Mount Washington, NH</figcaption>
</figure>
<figure>
  <img src="../img/interests/backpacking-big-bend-national-park-texas.jpg" alt="Dr. Karl Kwon" />
  <figcaption>Big Bend National Park, TX</figcaption>
</figure>
<figure>
  <img src="../img/interests/backpacking-NewDelhi-India.jpg" alt="Dr. Karl Kwon" />
  <figcaption>New Delhi, India</figcaption>
</figure>
<figure>
  <img src="../img/interests/backpacking-Annapurna-Nepal.jpg" alt="Dr. Karl Kwon" />
  <figcaption>Annapurna, Nepal</figcaption>
</figure>

<h3 class="mb-0">Golf and Tennis</h3>
<figure>
  <img src="../img/interests/tennis-boston.jpg" alt="Dr. Karl Kwon" />
  <figcaption>Needham, MA</figcaption>
</figure>
<figure>
  <img src="../img/interests/tennis-rice-houston.jpg" alt="Dr. Karl Kwon" />
  <figcaption>Rice University, Houston</figcaption>
</figure>

<h3 class="mb-0">Bicycle</h3>
<figure>
  <img src="../img/interests/boston-bike-party.jpg" alt="Dr. Karl Kwon" />
  <figcaption>Boston Bike Party</figcaption>
</figure>
<figure>
  <img src="../img/interests/bike-charles-river-boston.jpg" alt="Dr. Karl Kwon" />
  <figcaption>Charles River, Boston</figcaption>
</figure>
<figure>
  <img src="../img/interests/bike-downtown-houston.jpg" alt="Dr. Karl Kwon" />
  <figcaption>Downtown, Houston</figcaption>
</figure>
<figure>
  <img src="../img/interests/bike-tmc-houston.jpg" alt="Dr. Karl Kwon" />
  <figcaption>Texas Medical Center, Houston</figcaption>
</figure>
