
<h3 class="mb-0">Modern Data Eco-System for InsureTech</h3>
<p>Analytical and operational, broker, and risk dashboards</p>
<p>
	<img src="./img/works/bbi-ops-draft.png" align="top" height="120">
	<img src="./img/works/bbi-underwriter-draft.png" align="top" height="120">
	<img src="./img/works/bbi-broker-draft.png" align="top" height="120">
</p>
</br>

<h3 class="mb-0">IQVIA Optimizer</h3>
<p>Media optimization platform (Python, Django, PostgreSQL, JavaScript, Data Visualization)</p>
<p><img src="./img/works/iqvia-draft.png" align="top" height="120"></p>
</br>

<h3 class="mb-0">RPM.Mix4cast</h3>
<!-- <p>One of my strengths was coming up with different ideas of visualizing data--whether it is simple
	or complex. I sweat every pixel in our work and I love solving complex design/data challenges. It
	is an essential skill for data visualization and not everyone has it, especially those who work in
	the engineering field. It helps our tools to move up and beyond the top tier software in the
	field. (Python, Django, PostgreSQL, JavaScript, Data Visualization)</p> -->
<p>
<figure>

	<img src="./img/works/mix4cast-chick-fil-a.png" align="top" height="220">
</figure>
<figure>
	<img src="./img/works/mix4cast-planning.png" align="top" height="220"></p>

</figure>
</br>

<h3 class="mb-0">Scholar Plot</h3>
<p>Scholar Plot provides a compact visualization of a scholar's academic career. From a single page,
	one can quickly assess the quality and quantity of the scholar's publications and the amount of
	funding they have been awarded.</p>
<p><img src="./img/works/ScholarPlot.png" align="top" height="120"></p>
<li>Technology: JavaScript, D3.js, jQuery, PHP, MySQL, Python, JSON, XML</li>
</br>

<h3 class="mb-0">User Portrait</h3>
<p>Invent and develop an online data visualization method, User Portrait, to condense Affective User
	Data: API available.</p>
<p><img src="./img/works/userportrait.png" align="top" height="80"></p>
<li>Technology: PHP, HTML, CSS, JavaScript</li>
</br>

<h3>Past Projects (Archived)</h3>

<p>2009</p>
<ul>
	<li>Designed and implemented IFRS System in Java, EJB, X-Internet on WAS (web application server)
		middleware at Busan Bank (*IFRS - International Financial Reporting Standards)
		<br><i>Project: Busan Bank IFRS System Integration</i>
		<!--<br><skills>Skill set</skills>: JAVA, JSP, C, Frameworks, Oracle DBMS, X-Internet-->
		<p>
			<img src="./img/works/IFRS_03.png" align="top" width="150">
			<img src="./img/works/IFRS_02.png" align="top" width="150">
			<img src="./img/works/IFRS_01.png" align="top" width="150">

	<li>Designed and implemented very large scale banking system in Java on IBM Tuxedo and Oracle
		WebLogic middleware at Shinhan Bank
		<br><i>Project: Shinhan Bank Global IT System</i><a href="http://www.shinhan.com/en/" target="_blank"> Link </a>
		<!--<br><skills>Skill set</skills>: JAVA, JSP, C, Frameworks, Oracle DBMS, Middleware, Unix-->
		<p>
			<img src="./img/works/GBIT_03.png" align="top" width="150">
			<img src="./img/works/GBIT_04.png" align="top" width="150">
			<img src="./img/works/GBIT_01.png" align="top" width="150">
			<img src="./img/works/GBIT_02.png" align="top" width="150">
</ul>

<p>2008</p>
<ul>
	<li>Designed and implemented credit and finance system in Java and C on WAS middleware at KIS
		Credit Service (Moody's
		Investors Service Joint Venture Company)
		<br><i>Project: KIS Co.’s The Next Generation System Integration</i> <a href="http://www.kisamc.com/" target="_blank"> Link </a>
		<!--<br><skills>Skill set</skills>: JAVA, J2EE, JEUS Middleware, C, Frameworks, Oracle DBMS, SyBase DBMS, Unix, PowerBuilder-->
		<p>
			<img src="./img/works/proweb_01.png" align="top" width="150">
			<img src="./img/works/proweb_02.png" align="top" width="150">
			<img src="./img/works/proweb_03.png" align="top" width="150">
			<img src="./img/works/proframe_01.png" align="top" width="150">
			<img src="./img/works/proframe_02.png" align="top" width="150">
</ul>

<p>2007</p>
<ul>
	<li>Developed the web-based software in Java and J2EE on Oracle WebLogic middleware at the
		Ministry of Commerce,
		Industry and Energy
		<br><i>Project: Electronic Trade Building Project</i><a href="http://www.motie.go.kr/language/eng/index.jsp" target="_blank"> Link </a>
		<!--<br><skills>Skill set</skills>: JAVA, J2EE, WebLogic Middleware, Oracle DBMS-->
		<p>
			<img src="./img/works/UTrade_01.png" align="top" width="150">
			<img src="./img/works/UTrade_02.png" align="top" width="150">
			<img src="./img/works/UTrade_03.png" align="top" width="150">
</ul>

<p>2006</p>
<ul>
	<li>Researched and developed VoIP phone application with H323/SIP protocol (web-based)
	<li>Developed Win32/MFC software for company automation and document classification
		<!--		<li>Researcher - VoIP Phone Service (Web Based Application) using H.323/SIP Protocol
		<li>Developed Win32/MFC Software for company automation and document classification-->
	<li>Developed IPBLOCK IP Module at <a href="http://www.dial070.co.kr/company/history.html" target="_blank">Serome (Korean)</a>
		<!--<br><skills>Skill set</skills>: SIP, H.323, Win32, MFC-->
		<p>
			<img src="./img/works/dialpad_02.png" align="top">
</ul>

<p>2001 ~ 2006</p>
<ol>
	<li>Coded and launched Samsung Electronic Global Web Portal System in Java, J2EE on WebLogic and
		Oracle DB

	<li>Coded and launched The Korea National Police Agency Portal System in Java, J2EE <a href="http://www.police.go.kr/eng/index.jsp" target="_blank">Link</a>
		<p id="pdf">
	<li>HCI Research: Usability For MP3 Player iPod and iRiver
		<br>PDF: <a href="./source_codes/Usability For MP3 Player iPod and iRiver.pdf">download</a>
		<br>
		<p>
			<img src="./img/works/iPodiRiver.png" align="top">

			<!--
		<img src="./img/works/iPodiRiver_01.png" align="top" width="150">
		<img src="./img/works/iPodiRiver_02.png" align="top" width="150">
		<img src="./img/works/iPodiRiver_03.png" align="top" width="150">
		<img src="./img/works/iPodiRiver_04.png" align="top" width="150">
		-->


	<li>OpenSSL: Coin Flipping by Telephone of Information Security
		<br>Source Code: <a href="./source_codes/OpenSSLClient.html">client</a>, <a href="./source_codes/OpenSSLServer.html">server</a>, <a href="./source_codes/OpenSSLCreateKey.html">createKey</a> (.c)
		<p>
			<img src="./img/works/OpenSSL.png" width="200" align="top">


	<li>Microprocess 8051 (Microcomputer): Dot Matirx Program
		<br>Source Code: <a href="./source_codes/DotMatrix.html">download</a> (.asm)
		<p>
			<img src="./img/works/8051.jpg" align="top" width="200">



	<li>Line Editor using UNiX System Call
		<br>Source Code: <a href="./source_codes/LineEditorUsingUNiXSystemCall.html">download</a> (.c)


	<li>Mobile Line Communication (WIPI: Wireles Internet Platform for Interoperability)
		<br>
		<skills>Skill set</skills>: ASP, DBMS, XML, AnyBuilder, IIS
		<p>
			<img src="./img/works/WIPI.png" width="80%" align="top">
			<!--
		<img src="./img/works/LineComm (1).gif" align="top" width="100">
		<img src="./img/works/LineComm (2).gif" align="top" width="100">
		<img src="./img/works/LineComm (3).gif" align="top" width="100">
		<img src="./img/works/LineComm (4).gif" align="top" width="100">
		<img src="./img/works/LineComm (5).gif" align="top" width="100">
		<img src="./img/works/LineComm (6).gif" align="top" width="100">
		<img src="./img/works/LineComm (7).gif" align="top" width="100">
		-->

</ol>