<div class="publications-section">
  <meta name="citation_author" content="Kwon, Kyeongan" />

  <h3>Refereed Papers</h3>
  <ol reversed>
    <li>
      Alexander Petersen, Dinesh Majeti, <strong>Kyeongan Kwon</strong>, Mohammed E. Ahmed, and Ioannis Pavlidis "Cross-disciplinary evolution of the genomics revolution", Science Advances [Impact
      Factor: 11.51] <a href="http://advances.sciencemag.org/content/4/8/eaat4211/tab-pdf" target="_blank"><img src="./img/pdficon_small.png" width="15" /></a>
    </li>
    <li>
      Dinesh Majeti, <strong>Kyeongan Kwon</strong>, Ergun Akleman, Alexander Peterson, Brian Uzzi, and Ioannis Pavlidis "Scholar Plot: Well-Abstracted and Scalable Interface for Academic
      Performance", The Science of Team Science, SciTS 2018, Galveston, TX, USA.
      <a href="http://www.cpl.uh.edu/publication_files/A25.pdf" target="_blank"><img src="./img/pdficon_small.png" width="15" /></a>
      <a href="https://www.dropbox.com/s/xv84u5zpcatobz4/SciTS2016-Kwon80.pptx?dl=0">Slide</a>
    </li>
    <li>
      <strong>Kyeongan Kwon</strong>, Dinesh Majeti, Brian Uzzi and Ioannis Pavlidis "Scholar Plot: Visualizing Scientific Careers at a Glance", The 2nd Annual International Conference on
      Computational Social Science, IC2S2 2016, Evanston, IL, USA.
      <a href="#" target="_blank"><img src="./img/pdficon_small.png" width="15" /></a>
    </li>
    <li>
      <strong>Kyeongan Kwon</strong>, Dinesh Majeti and Ioannis Pavlidis "Scholar Plot: A Compact and Scalable Visualization Method for Academic Careers", The Science of Team Science, SciTS 2016,
      Phoenix, AZ, USA. <a href="http://www.cpl.uh.edu/publication_files/A25.pdf" target="_blank"><img src="./img/pdficon_small.png" width="15" /></a>
      <a href="https://www.dropbox.com/s/xv84u5zpcatobz4/SciTS2016-Kwon80.pptx?dl=0">Slide</a>
    </li>
    <li>
      Salah Taamneh, Malcolm Dcosta, <strong>Kyeongan Kwon</strong> and Ioannis Pavlidis "SubjectBook: Hypothesis-Driven Ubiquitous Visualization for Affective Studies", ACM Human Factors in Computing
      Systems, CHI 2016, San Jose, CA, USA. [Acceptance Rate: 43.4%] <a href="http://www.cpl.uh.edu/publication_files/C78.pdf" target="_blank"><img src="./img/pdficon_small.png" width="15" /></a>
    </li>
    <li>
      Salah Taamneh, Malcolm Dcosta, <strong>Kyeongan Kwon</strong> and Ioannis Pavlidis "SubjectBook: Web-based Visualization Of Multimodal Affective Datasets Residing On The Cloud", The Society for
      Affective Science, SAS 2016, Chicago, IL, USA.
      <a href="http://www.cpl.uh.edu/publication_files/A24.pdf" target="_blank"><img src="./img/pdficon_small.png" width="15" /></a>
    </li>
    <li>
      Dinesh Majeti, <strong>Kyeongan Kwon</strong>, Panagiotis Tsiamyrtzis and Ioannis Pavlidis "Dissecting Scholarly Patterns in Biology and Computer Science", The Science of Team Science, SciTS
      2015, Bethesda, MD, USA. <a href="http://kyeongan.cpl.uh.edu/resume/papers/SCITS2015-kwon.pdf" target="_blank"><img src="./img/pdficon_small.png" width="15" /></a>
    </li>
    <li>
      <strong>Kyeongan Kwon</strong>, Dvijesh Shastri and Ioannis Pavlidis "Information Visualization in Affective User Studies", The IEEE Visual Analytics Science and Technology, IEEE Information
      Visualization, and IEEE Scientific Visualization, VIS 2014, Paris, France.
      <a href="http://kyeongan.cpl.uh.edu/resume/papers/IEEEInfoVis2014-kwon.pdf" target="_blank"><img src="./img/pdficon_small.png" width="15" /></a>
    </li>
    <li>
      <strong>Kyeongan Kwon</strong>, Dvijesh Shastri and Ioannis Pavlidis "Interfacing Information in Affective User Studies", The 2014 ACM International Joint Conference on Pervasive and Ubiquitous
      Computing, Ubicomp 2014, Seattle, WA, USA. <a href="http://kyeongan.cpl.uh.edu/resume/papers/Ubicomp2014.pdf" target="_blank"><img src="./img/pdficon_small.png" width="15" /></a>
    </li>
    <li>
      Tao Feng, Ziyi Liu, <strong>Kyeongan Kwon</strong>, Weidong Shi, Bogdan Carbunar, Yifei Jiang and Nhung Nguyen, "Enhancing Mobile Security with Continuous Authentication Based on Touchscreen
      Gestures", The twelfth annual IEEE Conference on Technologies for Homeland Security, HST 2012, Waltham, MA, USA.
      <a href="http://kyeongan.cpl.uh.edu/resume/papers/HST2012-kwon.pdf" target="_blank"><img src="./img/pdficon_small.png" width="15" /></a>
    </li>
    <li>
      JongHyuk Lee, Ziyi Liu, Xiaonan Tian, Dong Hyuk Woo, Weidong Shi, Dainis Boumber, Yonghong Yan, and <strong>Kyeongan Kwon</strong>, "Acceleration of Bulk Memory Operations in a Heterogeneous
      Multicore Architecture", 21st International Conference on Parallel Architectures and Compilation Techniques, PACT 2012, Minneapolis, MN, USA.
      <a href="http://kyeongan.cpl.uh.edu/resume/papers/PACT2012-kwon.pdf" target="_blank"><img src="./img/pdficon_small.png" width="15" /></a>
    </li>
  </ol>

  <h3>Non-Refereed Papers</h3>
  <ol reversed>
    <li>
      <strong>Kyeongan Kwon</strong>, "Design Principles: Information Visualization in User Studies", Proceedings of the 2015 US-Korea Conference on Science, Technology and Entrepreneurship, UKC 2015
      Atlanta, GA, USA.
    </li>
    <li>
      <strong>Kyeongan Kwon</strong>, "Interfacing Information with Mixed Methods", Proceedings of the 2014 US-Korea Conference on Science, Technology and Entrepreneurship, UKC 2014 San Francisco, CA,
      USA.
    </li>
  </ol>

  <h3>Papers Presented</h3>
  <ol reversed>
    <li>The 2017 US-Korea Conference on Science, Technology and Entrepreneurship, UKC, Washington, D.C., Aug 2017</li>
    <li>The 13th Young Generation Technical and Leadership Conference, Philadelphia, PA, Jan 2017</li>
    <li>The 12th Annual Young Generation Technical and Leadership Conference, Dallas, TX, Jan 2016</li>
    <li>The 2nd Graduate Research and Scholarship Projects (GRaSP), at University of Houston, Houston, TX, Oct 2015</li>
    <li>The 2015 US-Korea Conference on Science, Technology and Entrepreneurship, UKC, Atlanta, GA, July 2015</li>
    <li>The 11th Annual Young Generation Technical and Leadership Conference, Orlando, FL, Jan 2015</li>
    <li>
      The IEEE Information Visualization, and IEEE Scientific Visualization, Info VIS, Paris, France, Nov 2014
      <a href="./img/InfoVis2014-FINAL.png" target="_blank"><img src="./img/pdficon_small.png" width="15" /></a>
    </li>
    <li>The 1st Graduate Research and Scholarship Projects (GRaSP), at University of Houston, Houston, TX, Oct 2014</li>
    <li>The 2014 ACM International Joint Conference on Pervasive and Ubiquitous Computing, Seattle, WA, Sept 2014</li>
    <li>The 2014 US-Korea Conference on Science, Technology and Entrepreneurship, UKC, San Francisco, CA, Aug 2014</li>
    <li>The Ph.D. Showcase of the Department of Computer Science at the University of Houston, Houston, Feb 2014</li>
    <li>The 10th Annual Young Generation Technical and Leadership Conference, Houston, TX, Jan 2014</li>
  </ol>

  <h3>Research Posters</h3>
  <figure>
    <img src="./img/ScholarPlot-Poster.png" alt="Karl Kwon, PhD" />
    <figcaption><a href="./img/ScholarPlot-Poster.png" target="_blank">Full Size</a></figcaption>
  </figure>
  <figure>
    <img src="./img/InfoVis2014-FINAL.png" alt="Karl Kwon, PhD" />
    <figcaption><a href="./img/InfoVis2014-FINAL.png" target="_blank">Full Size</a></figcaption>
  </figure>
  <figure>
    <img src="./img/SciTS-2015-70-48x36-landscape.jpg" alt="Karl Kwon, PhD" />
    <figcaption><a href="./img/SciTS-2015-70-48x36-landscape.jpg" target="_blank">Full Size</a></figcaption>
  </figure>
  <figure>
    <img src="./img/CrossPollinators_2016.jpg" alt="Karl Kwon, PhD" />
    <figcaption><a href="./img/CrossPollinators_2016.jpg" target="_blank">Full Size</a></figcaption>
  </figure>

  <h3>Misc.</h3>
  <ol reversed>
    <li>
      How To Turn Ideas into Data Products, <strong>Kyeongan (Karl) Kwon</strong>, Oct 2020
      <a href="./KarlKwon-IdeaIntoDataProduct.pdf" target="_blank"><img src="./img/pdficon_small.png" width="15" /></a>
    </li>
    <li>
      How to become a software engineer on wall st, <strong>Karl Kwon</strong>, UNLV (University of Nevada, Las Vegas), Feb 2020
      <a href="https://docs.google.com/presentation/d/15PjB8qb0llugmPSuiXj6sE4MxHGxUkqgRhMyD2MWxmU/edit?usp=sharing" target="_blank"><img src="./img/pdficon_small.png" width="15" /></a>
    </li>
  </ol>
</div>
